

.background.accounts_background {
  /*height: 70vh;*/
  background-image:url(classrooms.png);
  padding: 10%;
}

.accounts {
  max-width: 500px;
  margin: auto;
}

a:hover
{
  text-decoration:none;
  color:teal;
}


/*.background, .blur {
  background-image: url('/media/freelancer-desk.jpg');
  background-repeat: no-repeat;
  background-size: 1080px auto;
}*/

/*#bg {
  background-position: center top;
  padding: 70px 90px 120px 90px;
}*/

#search-container {
  position: relative;
}
