<template name="contact_us">
  <h1>CONTACT US</h1>

      <div class="row">
        <div class="col s12 m6">
          <div class="card white darken-1">
            <div class="card-content black-text">
            <ul>
              <h3 class="contact_us_subhead">EE Head Office, Khayelitsha, Western Cape</h3>
              <br>
              <li><h3 class="contact_us_subhead">Office</h3></li>
              <li>Washington Square</li>
              <li>Capital Drive</li>
              <li>Tembokwezi</li>
              <li>Khayelitsha</li>
              <li>Cape Town</li>
              <li>7784</li>
              <li>South Africa</li>
              <br>
              <li><a href="https://www.google.com/maps/place/34%C2%B000%2747.2%22S+18%C2%B038%2704.9%22E/@-34.0131,18.6347,408m/data=!3m2!1e3!4b1!4m2!3m1!1s0x0:0x0?hl=en">View Map</a></li>
              <br>
              <li><h3 class="contact_us_subhead">Postal address</h3></li>
                <li>PO Box 40114</li>
                <li>Elonwabeni</li>
                <li>7791</li>
                <br>
                <li><h3 class="contact_us_subhead">E-mail</h3></li>
                <li><a href="mailto:info@equaleducation.org.za">info@equaleducation.org.za</a></li>
                <br>
                <li><h3 class="contact_us_subhead">Telephone</h3></li>
                <li>021 387 0022</li>
                <br>
                <li><h3 class="contact_us_subhead">Fax</h3></li>
              <li>0865 169 396</li>
            </ul>
            </div>


          </div>
        </div>
      </div>
</template>
