
<template name="about">
  <div class="container">
        <!-- Page Content goes here -->


    <h2>Vision</h2>
    <p>Quality and equal education for every person in South Africa</p>
    <h2>Mission</h2>
    <p>"Equal Education is a movement for parents,learners,teachers and community members working for quality and equality in South African education ,through analysis and activism."</p>
    <h2>Background</h2>
    <p>20 years after Nelson Mandela's release from prison the education received by young people in South Africa remains vastly unequal. Despite attempts to overhaul the system, class and race-linked inequalities remain entrenched. Education was the foundation upon which inequality was fashioned during the years of apartheid, but unequal educational opportunities still remain amongst the greatest obstacles to equality, dignity and freedom in today's South Africa.</p>
    <h2>What is Equal Education?</h2>
    <p>EE is a community and membership-based organisation. It advocates for quality and equality in the South African education system and engages in evidence-based activism for improving the nation's schools. It is a leader in youth leadership development. EE's campaigns, based on detailed research and policy analysis, are aimed at achieving quality education for all
    <br>
  <br>
We promote the rights to equality and education, with the firm belief that these will enable the poor and working classes to an equal opportunity in life.</p>
<p>Education is an end in itself. Also,education helps one to understand and demand the full realisation of the rights enshrined in the Constitution. Led by young activists, EE seeks to improve the poor quality of education in South Africa by working together with communities, schools, teachers, principals, learners, parents, academics, researchers and the government. We build an understanding of the educational system, whilst drawing attention to problems faced by schools and their communities. Equipped with this knowledge, EE offers a new way for people to participate in the democratic system and bring change to education and society.</p>
<h2>History Of Equal Education</h2>
<p>The organisation began in February 2008 by conducting research in schools in Khayelitsha (a working-class community in Cape Town, with a population of approximately 700,000 people, and 54 schools). Schools in Khayelitsha, like those in other poor communities, are under-resourced, under-staffed and overcrowded - factors which have a significantly negative impact on academic performance. EE began with the aim of supporting the many hardworking teachers and determined learners within the community who are battling in difficult conditions.</p>

Today EE is known nationally, and has members active in most provinces. The Head Office remains in Khayelitsha, where it intends to stay. EE has active branches across the country.
<br>
Equal Education's most active members are called 'Equalisers'. They are high school students in grades 8 to 12. Equalisers have a leading role in the activities of the organisation. They, along with parents, teachers, activists and community members, work with EE to improve schools in their communities, and they set an example to their peers through their dedication to their own education.
<h2>Equal Education Congress</h2>
<p>Equal Education members meets at a national congress once every 3 years to pass
  <a href ="/content/2015/08/26/EE-Resolutions-adopted-at-Congress-2015.pdf">resolutions,</a>
  to elect the
    <a href ="http://www.equaleducation.org.za/page/national-council">leadership of the organization</a>
    ,and to
      <a href ="/content/2015/08/28/EE-Presantations-to-Congress-2015.pdf">discuss</a>
      progress since the last congress and the status of the movement.
  </p>
  <h2>Constitution</h2>
  <p>Equal Education formally adopted its
    <a href="/content/2015/08/26/EE-Constitution-adopted-at-Congress-2015.pdf">Constitution</a>
     at its Second National Congress on 6 July 2015.</p>
  <h2>Resolutions</h2>
  <p>Equal Education's objectives are directed by resolutions adopted at Congress. The
    <a href="/content/2015/08/26/EE-Resolutions-adopted-at-Congress-2015.pdf">Second National Congress adopted nine resolutions</a>
     on topics such as the governance of the movement, solidarity with other organisations and struggles, corruption, factionalism, and EE's campaigns. In between the first and second congress,EE made significant progress towards achieving the
     <a href="/content/2015/08/28/2012-Congress-Resolution-Statement.pdf">resolutions adopted in 2012</a> </p>
</div>
</template>
