<template name="staff">
  <div class="background" style="background-image:url(staff.jpg)">

    <div class="container">
      <div class="staff">
      <h1>Staff</h1>
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block frosted">
              <h2 class="center"><i class="mdi-social-school"></i></h2>
              <h5 class="center">Schools</h5>
              <p class="light"></p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block frosted" >
              <h2 class="center"><i class="mdi-social-group"></i></h2>
              <h5 class="center">Contacts</h5>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block frosted">
              <h2 class="center"><i class="mdi-action-wallet-giftcard"></i></h2>
              <h5 class="center">Donations</h5>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </div>

      <div class="section">

      </div>
    </div>
</div>


</template>
