<template name="tools">
  <h1>   </h1>
<div class="container">
  <div class="section">
    <div class="row">
           <div class="col s4 m4">
             <a href="http://www.google.com">
             <div class="card-panel grey lighten-1 tool-border tool-card-panel">
               <img src="images/tools1.svg" class="tool-img">
             </div>
             <div class="tool-card-content ee-yellow">
               <span class="card-title tool-card-title activator  white-text">SUBMISSIONS BY EQUAL EDUCATION</span>
              </div>
            </a>
           </div>

           <div class="col s4 m4">
             <a href="http://www.google.com">
             <div class="card-panel grey lighten-1 tool-border tool-card-panel">
               <img src="images/tools2.svg" class="tool-img">
             </div>
             <div class="tool-card-content ee-yellow">
               <span class=" card-title tool-card-title activator white-text">RESEARCH BY EQUAL EDUCATION</span>

              </div>
              </a>
           </div>

           <div class="col s4 m4">
             <a href="http://www.google.com">
               <div class="card-panel grey lighten-1 tool-border tool-card-panel">
                 <img src="images/tools3.svg" class="tool-img">
               </div>

             <div class="tool-card-content ee-yellow">
               <span class=" card-title tool-card-title activator white-text">RESEARCH INTO EQUAL EDUCATION</span>
              </div>
              </a>
           </div>

       </div>
       </div>
     </div>
</template>
