
<template name="main">
  <header>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Equal Education</title>
  </header>


  <body>
    <!-- <div class="background"></div> -->
    {{> header}}
    {{> yield}}
    {{> footer}}

  </body>

</template>


<template name="header">
  <div id="nav_container">
    <div id="nav_bar">{{> navbar }}</div>
    {{> flashMessages}}
  </div>
</template>

<template name="navbar">
  <nav class="nav-bar-color" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/"><img class="brand-logo" src="logo.png"></a>

      <ul class="right hide-on-med-and-down">
        <li><a href="#">Donate</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="/contactus">Contact us</a></li>
        <li><a href="/tools">Tools</a></li>
        <!-- <li><a href="#">Join us</a></li> -->
        <li><a href="#">Campaigns</a></li>
        {{#if currentUser}}
          <li><a href="/staff">Staff</a></li>
          <li><a href="/accounts"><i class="mdi-action-account-circle"></i></a></li>
        {{else}}
            <!-- {{> register}} -->
            <li><a href="/accounts">Sign in</a></li>
        {{/if}}

      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Donate</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Tools</a></li>
        <li><a href="#">Join us</a></li>
        <li><a href="#">Campaigns</a></li>
        <li><a href="#"><i class="mdi-action-account-circle"></i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</template>

<template name="footer">
  <footer class="page-footer ee-yellow">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">
            Equal Education is a movement of learners, parents, teachers and community members working for quality and equality in South African education, through analysis and activism.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Equal Education</a>
      </div>
    </div>
  </footer>
</template>
