<template name="accounts">
  <div class="background">
    {{#if currentUser}}
        {{> dashboard}}
    {{else}}
        {{> register}}
        {{> login}}
    {{/if}}
  </div>
</template>

<template name="dashboard">
    <p>You're logged in.</p>
    <p><a href="#" class="logout">Logout</a></p>
</template>

<template name="register">
  <!-- <div class="register"> -->
    <div class="row register_card">
        <!-- <div class="col s12 m6"> -->
        <div class="blur"></div>
        <div class="do_not_blur">
          <div class="card" style="background-color:transparent; margin: 0;">
            <div class="card-content black-text">
              <span class="card-title black-text">Staff Log In</span>
              <p>Please use your Equal Education email address to log in</p>
              <form>
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate" name="registerEmail">
                  <label for="email">Email</label>
                </div>
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" name="registerPassword">
                  <label for="password">Password</label>
                </div>

                <input class="btn waves-effect waves-light" type="submit" value="Register">

              </form>
            </div>

            <!-- <div class="card-action"> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
  <!-- </div> -->
</template>

<template name="login">

</template>
