<template name="contacts">
  <div class="background" style="background-image:url(staff.jpg)">
      <h1>Contacts</h1>
      {{> add_contact}}
      <div class="contacts section">
        {{> searchBox }}
        {{> searchResult}}
      </div>
    </div>
</template>

<template name="searchBox">
  <div class="row">
    <ul class="contacts collapsible" data-collapsible="accordion">
    <li>
      <div class="contacts collapsible-header active">Quick Search</div>
      <div class="contacts collapsible-body"><div class="quick_search"><input type="text" id="search-box" placeholder="Search contacts here" /></div></div>
    </li>
    <li>
      <div class="contacts collapsible-header">Advanced Search</div>
      <div class="contacts collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>

    <!--
    <div class="col s6"><button class="btn primary-color">Advanced Search</button></div> -->
  </div>
</template>

<template name="searchResult">
  <div id='search-result'>
    <div id="search-meta">
      {{#if isLoading}}
      searching ...
      {{/if}}
    </div>

    <table class="responsive-table hoverable striped">
      <thead>
        <tr>
          <th data-field="id">City</th>
          <th data-field="name">Contact Type</th>
          <!-- <th data-field="price">Contact Subtype</th> -->
          <th data-field="price">Member</th>
          <th data-field="price">First Name</th>
          <th data-field="price">Last Name</th>
          <!-- <th data-field="price">School</th> -->
          <th data-field="price">Email</th>
          <th data-field="price">Cellphone</th>
          <!-- <th data-field="price">Landline</th> -->
          <th data-field="price">Grade</th>
          <th data-field="price">Youth Group</th>
          <th data-field="price">Year Group</th>
          <!-- <th data-field="price">Preferred Language</th> -->
          <th data-field="price">Delete</th>
        </tr>
      </thead>
      <tbody>
        {{#each getContacts}}
        <tr>
          <td>{{this.city}}</td>
          <td>{{this.contact_type}}</td>
          <!-- <td>{{this.contact_sub_type}}</td> -->
          <td>{{this.member}}</td>
          <td>{{this.first_name}}</td>
          <td>{{this.last_name}}</td>
          <!-- <td>{{this.school}}</td> -->
          <td>{{this.email}}</td>
          <td>{{this.cellphone}}</td>
          <!-- <td>{{this.phone}}</td> -->
          <td>{{this.grade}}</td>
          <td>{{this.youth_group}}</td>
          <td>{{this.year_group}}</td>
          <!-- <td>{{this.preferred_language}}</td> -->
          <td><i class="contacts mdi-action-delete"></i></td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="add_contact">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#modal1"><i class="mdi-content-add"></i></a>
    <!-- <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul> -->
  </div>
  {{> modalAddContact}}
</template>

<template name="modalAddContact">
  <div id="modal1" class="modal modal-fixed-footer">
     <div class="modal-content">
       <h4>Modal Header</h4>
       <p>A bunch of text</p>
     </div>
     <div class="modal-footer">
       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Add</a>
       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>

     </div>
   </div>
</template>
